body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 40px;
}
#padding-top{
    padding-top: 50px;
}
.name-highlight{
    color: rgb(231, 13, 151);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}